
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=GFS+Didot&family=SUSE:wght@100..800&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --swiper-navigation-color: #c9a14a;
}

@font-face {
  font-family: 'The Seasons';
  src: url('/fonts/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;}

  
@font-face {
  font-family: 'Beautifully Delicious';
  src:   url('/fonts/BDSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin:0;
  padding: 0;
  background-color: #edf8ff;
}

header {
  height: 70px;
  align-items: center;
}

.carattere-regular {
  font-family: "Carattere", cursive;
  font-weight: 300;
  font-style: normal;
}


.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




.didot {
  font-family: "GFS Didot", serif;
  font-style: normal;
}

button {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .swiper-slide-next {
    padding-left: 50px;
  }

    .swiper-slide-next h3, .swiper-slide-prev h3  {
    background-color: transparent;
    display: hidden;
  }

   .swiper-slide-next div, .swiper-slide-prev div  {
  }

  .swiper-slide-prev {
    padding-right: 50px;
  }
}

@media (max-width: 1023px) {
  .swiper-slide-next {
    padding-left: 10px;
  }

  .swiper-slide-prev {
    padding-right: 10px;
  }
}


.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    display: flex;
  width: 64px; /* overall size */
  height: 64px;
  }

  .swiper-button-next::after,
.swiper-button-prev::after {
  font-size:20px !important; 
}

hr {
  margin-bottom: 8px;
  margin-top: 8px;
  height: 1px;
  border:none;
  background-color: #bbb;
}