@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=GFS+Didot&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding: 0;
}

header {
  height: 70px;
  align-items: center;
}

.carattere-regular {
  font-family: "Carattere", cursive;
  font-weight: 300;
  font-style: normal;
}


.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.didot {
  font-family: "GFS Didot", serif;
  font-style: normal;
}

button {
  cursor: pointer;
}

p {
  text-shadow: h-shadow v-shadow blur-radius color;

}